# Dependencias
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# Entornos de desarrollo
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Compilación y construcción
dist/
build/
out/

# Pruebas
coverage/
.nyc_output/

# Caché
.cache/